.shared-dir-children-container {
  padding-left: 15px;
  border-left: 1px solid grey;
}

details>summary {
  cursor: pointer;
}

.shared-dir-shared-file {
  cursor: pointer;
}

.shared-dir-shared-file:hover,
details>summary:hover {
  color: blue;
}
