.shared-dir-children-container {
  padding-left: 15px;
  border-left: 1px solid grey;
}

details>summary {
  cursor: pointer;
}

.shared-dir-shared-file {
  cursor: pointer;
}

.shared-dir-shared-file:hover,
details>summary:hover {
  color: blue;
}

.shared-dir-download-btn {
  margin-left: 2rem;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.shared-dir-download-btn:hover {
  color: white;
  background-color: grey;
  border-radius: 5px;
}

.hidden {
  display: none
}
